.titulo_principal{
  font-family: Lora, Aptos, "sans serif";
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  color: black;
}

.center {
  text-align: center
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.overline_underline{
  text-decoration: overline underline;
}

.centralizar_bloco{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


