.titulo_principal{
  font-family: Lora, Aptos, "sans serif";
  text-aling: center;
  font-size: 14pt;
  font-weight: bold;
  color: black;
}

.center {
  text-aling: center
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}


