.menu-nav {
  display: flex; /* 1. Ativa o modo Flexbox */
  
  flex-direction: colum; /* (Opcional) Define o eixo principal como uma linha. É o padrão. */

  justify-content: space-around; /* 2. Distribui os itens HORIZONTALMENTE com espaço ao redor. */

  align-items: center; /* 3. Centraliza os itens VERTICALMENTE no meio da altura da nav. */
  
  background-color: #003366;
  padding: 15px;
}
