.pagina-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  gap: 15px;
  height: 100vh;
}

header {
  grid-area: header; 
  background-color: black;
  color: white;
  padding: 20px;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
  grid-area: main; 
  background-color: white;
}

aside {
  grid-area: sidebar; 
  background-color: #110e08;
  color: white;
  padding: 20px;
  border-right: 1px solid #ddd;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}
